# ignore IDE project metadata
.idea/

# ignore Mac OS X folder metadata
**.DS_STORE

# any file can be ignored by naming it *.ignore.*, e.g. TempTest.ignore.js
**.ignore.*

# exclude installed NPM packages
node_modules/

# exclude build/publish directory
build/

# test coverage output
coverage
.nyc_output

# npm recommends including package-lock.json in repo, but it generally causes more problems that it solves
package-lock.json
